body {
    width: 300%;
    margin: 10px;
    background-color: burlywood;
}
#profile-container {
    max-width: 870px;
    background-color: white;
    border: 10px solid black;
    border-radius: 6px;
}

#profile-image {
    width: 100%;
    height: auto;
}

#profile-name {
    text-align: center;
}